table{
   align-content: center;
   margin: 0 auto;
    width: 80%;
    vertical-align: middle;
}

mat-tab{
    width: 800px;
}

.centered{
    left: 50%;
    margin-top: 10%;
    width: 24px; 
    height: 24px; 
    }
