table{
   align-content: center;
   margin: 0 auto;
    width: 80%;
    vertical-align: middle;
}

mat-tab{
    width: 800px;
}

.centered{
    margin-left: 47%;
    margin-top: 15%;
    width: 100%; 
    height: 100%; 
    }

    
@media screen and (max-width: 900px) {
    table{
        // align-content: center;
        // margin: 0 auto;
        margin-left: -10%;
         width: 120%;
         vertical-align: middle;
     }
     
     mat-tab{
         width: 800px;
     }
     
     .centered{
         margin-left: 40%;
         margin-top: 65%;
         width: 100%; 
         height: 100%; 
         }
     
         td{
            text-align: center;
         }


         .mat-header-cell, .mat-sort-header, th{
            flex-direction: column;
            text-align: center;
            justify-content:flex-end;
         }



}