
    <h2>Mecanic-app</h2>
    <!-- <app-navigation-bar></app-navigation-bar> -->
    <!-- <div [routerLink]="['scheduleHome']"> Home</div>
    <button (click)="goTo('signIn')" > Sign inp</button>
    <div [routerLink]="['signIn']">sign In </div>
    <button (click)="goTo('signUp')"> Sign up</button>
    <div [routerLink]="['signUp']">sign Up/div> -->

    <!-- <button (click)="signInSelected()" [disabled]="isSignUpDisabled" [ngStyle]="applyButtonStyles()">Sign In</button>

    <button (click)="signUpSelected()" [disabled]="isSignInDisabled" [ngStyle]="applyButtonStyles()">Sign Up</button> -->
    <button (click)="('manufacture')">CLICK FOR TIME (EXPERIMENTAL)</button>
    
    <button (click)="goTo('map')"> Show map</button>
    

    <!-- <div *ngIf="signInFlag">
        <app-sign-in></app-sign-in>
    </div>

    <div *ngIf="signUpFlag">
        <app-sign-up></app-sign-up>
    </div> -->
