<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="isHandset$ ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async)!.matches ? 'push' : 'over'" [opened]="(isHandset$ | async)!.matches=== true">
    <mat-toolbar color="accent">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/scheduleHome']">Mapa de laboratorios</a>
      <a mat-list-item [routerLink]="['/completeSchedule']">Horarios</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="accent">

      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="!(isHandset$ | async)">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span>Mecánica App</span>
      <!-- <div>{{ user$ | async | json}}</div> -->
      <span class="spacer"> </span>

      <div *ngIf="user$ | async as user; else noUser">
      
      <a *ngIf="user" (click)="onSignOut()" [routerLink]="['/signIn']">Cerrar sesión</a>
      <a>{{ userEmail?.email }}</a>
      </div>
      <ng-template #noUser>
        <a [routerLink]="['/signUp']" *ngIf="!user">Regístrate</a>
        <a [routerLink]="['/signIn']" *ngIf="!user">Inicia sesión</a>
      </ng-template>

    </mat-toolbar>

    <ng-content></ng-content>
    <!-- <app-schedule-map></app-schedule-map> -->
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- *ngIf="isHandset$ | async" -->