  mat-grid-tile {
    background: transparent;
  }

  .transparent{
      background-color: transparent;
  }

  .label-spacing {
    margin: 10px;
  }

  .second-floor-card {
    max-width: 1000px;
    height: 475px;
    left: 10%;
    top: 2%;
    background-color: transparent;
    box-shadow: transparent;
  }

  .first-floor-card {
    max-width: 800px;
    height: 475px;
    left: 20%;
    top: 2%;
    background-color: transparent;
    box-shadow: transparent;
  }

  .centered{
  left: 50%;
  margin-top: 10%;
  width: 24px; 
  height: 24px; 
  }

  .text-inside-grid{
    font-weight:bold;
    position: absolute;
    margin-bottom: 90px;
    align-self: center;
    text-align: center;
}

.tile-button{
position:absolute;
display: list-item;
bottom: 2%;
right: 2%;
}

.planta-text{
font-size: 1.5em; 
font-weight: bolder;
}

.tile-button-2{
position:absolute;
display: list-item;
bottom: 2%;
right: 78%;
}

@media screen and (max-width: 900px) {
  
.availability{
  // color: blue;
  font-style: normal;
  font-size: 100%;
  line-height: 85%;
  margin-top: 15%;
  text-align: center;
}

mat-grid-tile {
  background: transparent;
}

.transparent{
    background-color: transparent;
}

.label-spacing {
  margin: 10px;
}

.second-floor-card {
  width: 85%;
  height: 80%;
  left: 2%;
  margin-right: 0px;
  top: .1%;
  background-color: transparent;
  box-shadow: transparent;
  overflow:hidden;
}

.first-floor-card {
  width: 85%;
  height: 475px;
  left: 2%;
  top: 2%;
  background-color: transparent;
  box-shadow: transparent;
}
span.rotate{
  transform: rotate(-90deg);
  // border: solid 1px #000;

  position:absolute;
}

.second-floor-grid{
  left: 14%;
  // position: absolute;
  overflow:hidden;
  margin-right: 0 auto;
  margin-top: 10%;
  // overflow-x: hidden;
  
}

.green{
  position: absolute;
  width: 3%;
  left: 50%;
  top: 1%
}

.red{
  position: absolute;
  width: 3%;
  left: 50%;
  top: 4%
}

.first-floor-grid{
  margin-top: 40%;
}

.centered{
left: 40%;
margin-top: 50%;
width: 24px; 
height: 24px; 
}

.text-inside-grid{
  font-weight:bold;
  position: absolute;
  margin-bottom: 55%;
  align-self: center;
  font-size: 100%;
  top: 18%;
  line-height: 90%;
  width: 103%;
}

.tile-button{
position:absolute;
display: list-item;
bottom: 2%;
right: 2%;
width: 25%;
height: 25%;
}

.planta-text{
font-size: 1.5em; 
font-weight: bolder;
}

.tile-button-2{
position:absolute;
display: list-item;
bottom: 2%;
right: 78%;
}
}