<label class="example-margin">Color:</label>
<mat-radio-group >
  <mat-radio-button class="label-spacing" value="primary" color="warn">
    Baja
  </mat-radio-button>
  <mat-radio-button class="label-spacing" value="accent" checked="checked​" color="warn">
    Alta
  </mat-radio-button>

  <mat-card class="second-floor-card">

    <mat-grid-list cols="10" rowHeight="2:1">
        <mat-grid-tile colspan="2" rowspan="2" class="transparent"></mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="4">2</mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="4">2</mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="4">2</mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="4">2</mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="4">2</mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="4">2</mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="4" class="transparent"></mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="4">2</mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="4">2</mat-grid-tile>
      </mat-grid-list>
      
</mat-card>

<mat-card class="first-floor-card">

    <mat-grid-list cols="4" rowHeight="2:1">
        <mat-grid-tile colspan="2" rowspan="2" class="transparent"></mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="4">2</mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="4">2</mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="4">2</mat-grid-tile>
      </mat-grid-list>
      
</mat-card>