mat-grid-tile {
    background: lightblue;
  }

  .transparent{
      background-color: transparent;
  }

  .label-spacing {
    margin: 10px;
  }

  .second-floor-card {
    max-width: 1000px;
    height: 450px;
    left: 10%;
    top: 2%;
    background-color: transparent;
    box-shadow: transparent;
  }

  .first-floor-card {
    max-width: 800px;
    height: 450px;
    left: 20%;
    top: 2%;
    background-color: transparent;
    box-shadow: transparent;
  }

  .centered{
  left: 50%;
  margin-top: 10%;
  width: 24px; 
  height: 24px; 
  }

  .text-inside-grid{
    font-weight:bold;
    position: absolute;
    margin-bottom: 90px;
    align-self: center;
    text-align: center;
}

.tile-button{
  position:absolute;
  display: list-item;
  bottom: 2%;
  right: 2%;
}

.planta-text{
  font-size: 1.5em; 
  font-weight: bolder;
}

.tile-button-2{
  position:absolute;
  display: list-item;
  bottom: 2%;
  right: 78%;
}