body{
    width: 800px;
    height: 350px;
}

.column1 {
  float: left;
  }

.column2 {
    flex: 50%;
    float: right;
  }

//   .verticalDivider{
//       height:330px;
//       top: -210px;
//       left: 80px;
//       display:block;
//       position: relative;
//   }

  .bottomSticky{
    display:block;
    position: relative;
    bottom: 80px;
    left: 100px;
  }

  .bottom-card {
    background-color: rgb(255, 215, 64);
    height: 50px;
    display: block;
    position:inherit;
    top: 350px;
  }

  .textInCard{
    display: inline-block;
    font-size: 20px;
    padding: 20px;
    position: relative;
    top: 10px;
  }

table {
    width: 500px;
}

.startHour{
    text-align: center !important; 
}

.header{
    padding-left: 20px;
}

mat-list-item{
    margin-top: -10px;
    // margin-bottom: -20px;
}

mat-divider{
    // // top: 15px;
    // top: 40px
    top: 37px;
}


h2{
    margin-bottom: 0px;
}