body{
    width: 800px;
    height: 350px;
}

.column1 {
  float: left;
  }

.column2 {
    flex: 50%;
    float: right;
  }

//   .verticalDivider{
//       height:330px;
//       top: -210px;
//       left: 80px;
//       display:block;
//       position: relative;
//   }

  .bottomSticky{
    display:block;
    position: relative;
    bottom: 80px;
    left: 100px;
  }

  .bottom-card {
    background-color: rgb(255, 215, 64);
    height: 50px;
    display: block;
    position:inherit;
    top: 350px;
  }


table {
    width: 500px;
}

.startHour{
    text-align: center !important; 
}

.header{
    padding-left: 20px;
}

mat-list-item{
    margin-top: -10px;
    // margin-bottom: -20px;
}

mat-divider{
    // // top: 15px;
    // top: 40px
    top: 37px;
}


h2{
    margin-bottom: 0px;
}


.textInCard{
  display: inline-block;
  font-size: 20px;
  position: relative;
  bottom: 70%;
  left: 20%;
}

.textInCard-13{
  display: inline-block;
  font-size: 20px;
  position: relative;
  bottom: 170%;
  left: 20%;
}

.image-cropper {
  width: 50px;
  height: 50px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  left: 10%;
}

.image-cropper-2 {
  width: 50px;
  height: 50px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  // right: 5%;
  bottom: 100%
}

.profile-pic {
  display: inline;
  margin: 0 auto;
  // margin-left: -25%; //centers the image
  height: 100%;
  width: auto;
  left: 10%;
}

.profile-pic-2 {
  margin: 0 auto;
  // margin-left: -25%; //centers the image
  height: 100%;
  width: auto;
  left: 10%;
}