.example-card {
    max-width: 1000px;
    height: 500px;
    left: 10%;
    top: 5%;
  }

  .bottom-card {
    background-color: rgb(255, 215, 64);
    height: 50px;
  }
  .image_ontica{
    width: 20%;
    margin-right: 10%;
    margin-bottom: 10%;
    position: absolute;
  }
  .image_uabc{
    width: 5.5%;
    margin-top: -1%;
    margin-right: 10%;
    margin-left: 32%;
    position: absolute;
  }

  .image_angular{
    width: 20%;
    margin-right: 10%;
    margin-left: 50%;
    position: absolute;
  }  

  .image_firebase{
    top: 0%;
    margin-left: 75%;
    width: 25%;
    margin-right: 10%;
    position: absolute;
  }