<div>
  <mat-dialog-content><p>A continuación se describen los puntos clave en nuestro Aviso de Privacidad. Puedes encontrar más detalles acerca de cualquier tópico dando click en <a>Aviso De Privacidad - Versión en Inglés</a>.
<ul>
    <li><b>¿Qué inforamción personal procesamos?</b></li>
    Cuando navegas, usas o visitas nuestros Servicios, puede que procesemos inforamción personal dependiendo de cómo interactúas con Mecánica App UABC y sus Servicios, 
    registramos tu utilización y manejo de la App.
    <li><b>¿Procesamos Información Personal Sensible?</b></li>
    Procesamos información como tus Nombres, Apellidos, Correo Electrónico. Para términos de uso, la información sensible que requerimos es tu Carrera Universitaria.
    <li><b>¿Recibimos información de recursos externos?</b></li>
    No, no recibimos ninguna información fuera de los recursos de esta App.
    <li><b>¿Cómo procesamos tu información?</b></li>
    Procesamos tu información para proveer, mejorar, administrar nuestros Servicios, comunicarnos contigo, por seguridad y para cumplir con la Ley.
    Tu consentimiento es importante, por lo que tu información solo se comparte con nuestra Base de Datos de Firebase. Mecánica App no tiene accesos a tu contraseña, puesto que utiliza la función de Firebase Authentication.

    <li><b>¿En qué situaciones y con quién compartimos información personal?</b></li>
    Al registrarte, tu información se almacena en una base de datos de Firebase llamada Firestore Database, no se utiliza otra base de datos de terceros para guardar tu información. 
    <li><b>¿Cómo mantenemos tu información segura?</b></li>
    Tenemos procesos y procedimientos técnicos y organizacionales que se toman la labor de proteger la información personal, Firebase es nuestra base de datos, se utiliza Firebase Auth, Firebase Firestore, Firebase Realtime Database Y Firebase Storage. Sin embargo, ninguna transmisión electrónica en internet o tecnología de almacenamiento de información está garantizada de ser 100% segura,
    por lo que no podemos prometer o garantizar que hackers, ciber-criminales u otro tercero no autorizado pueda atravesar nuestra seguridad y que impropiamente colecte, acceda, robe o modifique tu información.*
    <li><b>¿Cómo puedo eliminar o modificar mi información en Mecánica App?</b></li>
    Por el momento para eliminar tu cuenta, datos o modificarlos debes enviar un correo a mecanicaappuabc@gmail.com con tu petición.<br>
    <b>*Los autores y desarrolladores de esta obra se deslindan de cualquier responsabilidad de la informática, civil o penal por el uso inapropiado de datos personales por terceros.
    </b>
  </ul>
</mat-dialog-content>
</div>

















