

<mat-card color="accent">Son las {{changeHourFormat()}} y las clases en los laboratorios son:</mat-card>

<ng-container *ngIf="!isLoaded ; else loaded">
  <mat-spinner color="warn" class="centered"></mat-spinner>
</ng-container>


<ng-template #loaded>
  <mat-grid-list cols="7" rowHeight="2:1">

    <mat-grid-tile colspan="1" rowspan="5" [ngStyle]="tileColor('thermo')">
      <div class="text-inside-grid">
        Mantenimiento
      </div>
      {{classStatus('thermo')}}
      <button mat-mini-fab color="primary" class="tile-button" (click)="dialogBox.openDialog('thermo')">
        <mat-icon class="tile-icon">list</mat-icon>
      </button>
    </mat-grid-tile>


    <mat-grid-tile colspan="1" rowspan="2" [ngStyle]="tileColor('manufacture')">
      <div class="text-inside-grid">
        Laboratorio de manufactura asistida por computadora
      </div>
      {{classStatus('manufacture')}}
      <button mat-mini-fab color="primary" class="tile-button" (click)="dialogBox.openDialog('manufacture')">
        <mat-icon class="tile-icon">list</mat-icon>
      </button>
    </mat-grid-tile>


    <mat-grid-tile colspan="1" rowspan="2" [ngStyle]="studyRoomColor()">
      <div *ngIf="spinnerLoading ; else studyLoaded">
        <mat-spinner></mat-spinner>
      </div>

        <ng-template #studyLoaded>
          <div class="text-inside-grid">
            Sala de estudio
          </div>
          <div class="people-number">
            {{peopleNumber}}
          </div>
        </ng-template>

    </mat-grid-tile>

<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
    <mat-grid-tile colspan="1" rowspan="2" [ngStyle]="tileColorFirebase('maquinasHerramientas')">
      <div class="text-inside-grid">
        Taller de máquinas y herramientas
      </div>
      {{currentClass('maquinasHerramientas')?.className }}
      <button mat-mini-fab color="warn" class="tile-button" (click)="dialogBox.openDialog('fluids')">
        <mat-icon class="tile-icon">list</mat-icon>
      </button>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="2" [ngStyle]="tileColorFirebase('cienciasMateriales')">
      <div class="text-inside-grid">
        Laboratorio de ciencia de materiales
      </div>
      {{currentClass('cienciasMateriales')?.className}}
      <button mat-mini-fab color="warn" class="tile-button" (click)="dialogBox.openDialog('manufacture')">
        <mat-icon>list</mat-icon>
      </button>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="2" [ngStyle]="tileColorFirebase('mecanicaFluidos')">
      <div class="text-inside-grid">
        Laboratorio de mecánica de fluidos
      </div>
      {{currentClass('mecanicaFluidos')?.className}}
      <button mat-mini-fab color="warn" class="tile-button" (click)="dialogBox.openDialog('fluids')">
        <mat-icon>list</mat-icon>
      </button>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="2" [ngStyle]="tileColorFirebase('salaAudiovisual')">
      <div class="text-inside-grid">
        Sala audiovisual
      </div>
      {{currentClass('salaAudiovisual')?.className}}
      <button mat-mini-fab color="warn" class="tile-button" (click)="dialogBox.openDialog('thermo')">
        <mat-icon>list</mat-icon>
      </button>
    </mat-grid-tile>
    <!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->


    <mat-grid-tile colspan="6" rowspan="1" rowHeight=".5:1">PASILLO</mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="2" [ngStyle]="tileColor('fluids')">
      <div class="text-inside-grid">
        LA-2
      </div>
      {{classStatus('fluids')}}
      <button mat-mini-fab color="primary" class="tile-button" (click)="dialogBox.openDialog('fluids')">
        <mat-icon>list</mat-icon>
      </button>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="2" [ngStyle]="tileColor('design')">
      <div class="text-inside-grid">
        Sala de asesorías
      </div>
      {{classStatus('design')}}
      <button mat-mini-fab color="primary" class="tile-button" (click)="dialogBox.openDialog('design')">
        <mat-icon>list</mat-icon>
      </button>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="2" [ngStyle]="tileColor('thermo')">
      <div class="text-inside-grid">
        Laboratorio de refrigeración
      </div>
      {{classStatus('thermo')}}
      <button mat-mini-fab color="primary" class="tile-button" (click)="dialogBox.openDialog('thermo')">
        <mat-icon>list</mat-icon>
      </button>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="2" [ngStyle]="tileColor('fluids')">
      <div class="text-inside-grid">
        Laboratorio de manufactura
      </div>
      {{classStatus('fluids')}}
      <button mat-mini-fab color="primary" class="tile-button" (click)="dialogBox.openDialog('fluids')">
        <mat-icon>list</mat-icon>
      </button>
    </mat-grid-tile>
    <!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <mat-grid-tile colspan="1" rowspan="2" [ngStyle]="tileColorFirebase('salaComputo')">
      <div class="text-inside-grid">
        Laboratorio de cómputo
      </div>
      {{currentClass('salaComputo')?.className}}
      <button mat-mini-fab color="warn" class="tile-button" (click)="dialogBox.openDialog('design')">
        <mat-icon>list</mat-icon>
      </button>
    </mat-grid-tile>
    <!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <mat-grid-tile colspan="1" rowspan="2" [ngStyle]="tileColor('thermo')">
      <div class="text-inside-grid">
        Taller de CNC
      </div>
      {{classStatus('thermo')}}
      <button mat-mini-fab color="primary" class="tile-button" (click)="dialogBox.openDialog('thermo')">
        <mat-icon>list</mat-icon>
      </button>
    </mat-grid-tile>
    
  </mat-grid-list>
</ng-template>

<!-- </ng-template> -->
<!-- </mat-grid-list> -->

<app-chat *ngIf="this._authService.chatApproval | async"></app-chat>