<!-- <button (click)=requestPermission()>Permiso</button> -->
<!-- <div class="desktop">this is the content for desktop</div>
<div *ngIf="mobile">this is the content for mobile</div> -->
<mat-card color="accent" class="hourCard">
  <div class="textInCard" >Hola {{ firstName }} {{ lastName }}, este es el laboratorio de mecánica</div>
  <!-- , son las {{changeHourFormat()}} -->
</mat-card>
<div class="entrance" *ngIf="isLoaded">Entrada</div>

<ng-container *ngIf="!isLoaded">
  <mat-spinner color="primary" class="centered"></mat-spinner>
</ng-container>


<ng-container *ngIf="isLoaded && !mobile">
  <span [ngStyle]="{'font-size': '100%;', 'margin-left':'78%', 'position':'absolute', 'top':'93.75%'}">Aula disponible</span>
  <img src="assets\green.PNG" class="monitorGreen">
  <span [ngStyle]="{'font-size': '10%;', 'margin-left':'78%', 'position':'absolute', 'top':'96%'}">Aula en clase</span>
  <img src="assets\red.PNG" class="monitorRed"> 
  <mat-grid-list cols="7" rowHeight="2:1" class="grid">

    <mat-grid-tile colspan="1" rowspan="5" [ngStyle]="tileColorFirebase('mantenimiento')">
      <div class="text-inside-grid">
        Mantenimiento
      </div>
      <span class="availability">{{currentClass('mantenimiento')?.className }}</span>
      <button mat-mini-fab color="primary" class="tile-button-long" (click)="dialogBox.openDialog('mantenimiento')">
        <mat-icon class="tile-icon">list</mat-icon>
      </button>
    </mat-grid-tile>


    <mat-grid-tile colspan="1" rowspan="2" [ngStyle]="tileColorFirebase('celdaManufactura')">
      <div class="text-inside-grid">
        Celda de manufactura / multiejes
      </div>
      <span class="availability">{{currentClass('celdaManufactura')?.className }}</span>
      <button mat-mini-fab color="primary" class="tile-button" (click)="dialogBox.openDialog('celdaManufactura')">
        <mat-icon class="tile-icon">list</mat-icon>
      </button>
    </mat-grid-tile>


    <mat-grid-tile colspan="1" rowspan="2" [ngStyle]="studyRoomColor()">
      <div *ngIf="spinnerLoading ; else studyLoaded">
        <mat-spinner ></mat-spinner>
      </div>

        <ng-template #studyLoaded>
          <div class="text-inside-grid">
            Sala de estudio
          </div>
          <div class="people-number">
            {{peopleNumber}}
          </div>
        </ng-template>

    </mat-grid-tile>

<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
    <mat-grid-tile colspan="1" rowspan="2" [ngStyle]="tileColorFirebase('maquinasHerramientas')">
      <div class="text-inside-grid">
        Taller de máquinas y herramientas
      </div>
      <span class="availability">{{currentClass('maquinasHerramientas')?.className }}</span>
      <button mat-mini-fab color="primary" class="tile-button" (click)="dialogBox.openDialog('maquinasHerramientas')">
        <mat-icon class="tile-icon">list</mat-icon>
      </button>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="2" [ngStyle]="tileColorFirebase('cienciasMateriales')">
      <div class="text-inside-grid">
        Laboratorio de ciencias de materiales
      </div>
      <span class="availability">{{currentClass('cienciasMateriales')?.className}}</span>
      <button mat-mini-fab color="primary" class="tile-button" (click)="dialogBox.openDialog('cienciasMateriales')">
        <mat-icon class="tile-icon">list</mat-icon>
      </button>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="2" [ngStyle]="tileColorFirebase('mecanicaFluidos')">
      <div class="text-inside-grid">
        Laboratorio de térmica y mecánica de fluidos
      </div>
      <span class="availability">{{currentClass('mecanicaFluidos')?.className}}</span>
      <button mat-mini-fab color="primary" class="tile-button" (click)="dialogBox.openDialog('mecanicaFluidos')">
        <mat-icon class="tile-icon">list</mat-icon>
      </button>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="2" [ngStyle]="tileColorFirebase('salaAudiovisual')">
      <div class="text-inside-grid">
        Sala audiovisual (Planta alta)
      </div>
      <span class="availability">{{currentClass('salaAudiovisual')?.className}}</span>
      <button mat-mini-fab color="primary" class="tile-button" (click)="dialogBox.openDialog('salaAudiovisual')">
        <mat-icon class="tile-icon">list</mat-icon>
      </button>
    </mat-grid-tile>
    <!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->


    <mat-grid-tile colspan="6" rowspan="1" rowHeight=".5:1">PASILLO</mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="2" [ngStyle]="tileColorFirebase('mecanicaMateriales')">
      <div class="text-inside-grid">
        Laboratorio de mecánica de materiales
      </div>
      <span class="availability">{{currentClass('mecanicaMateriales')?.className}}</span>
      <button mat-mini-fab color="primary" class="tile-button" (click)="dialogBox.openDialog('mecanicaMateriales')">
        <mat-icon class="tile-icon">list</mat-icon>
      </button>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="2" [ngStyle]="tileColorFirebase('refrigeracion')">
      <div class="text-inside-grid">
        Laboratorio de refrigeración
      </div>
      <span class="availability">{{currentClass('refrigeracion')?.className}}</span>
      <button mat-mini-fab color="primary" class="tile-button" (click)="dialogBox.openDialog('refrigeracion')">
        <mat-icon class="tile-icon">list</mat-icon>
      </button>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="2" [ngStyle]="tileColorFirebase('salaAsesorias')">
      <div class="text-inside-grid">
        Metrología / Sala de asesorías
      </div>
      <span class="availability">{{currentClass('salaAsesorias')?.className}}</span>
      <button mat-mini-fab color="primary" class="tile-button" (click)="dialogBox.openDialog('design')">
        <mat-icon class="tile-icon">list</mat-icon>
      </button>
    </mat-grid-tile>


    <mat-grid-tile colspan="1" rowspan="2" [ngStyle]="tileColorFirebase('laboratorioProyectos')"> <!--CORREGIR-->
      <div class="text-inside-grid">
        Laboratorio de Proyectos
      </div>
      <span class="availability">{{currentClass('laboratorioProyectos')?.className}}</span>
      <button mat-mini-fab color="primary" class="tile-button" (click)="dialogBox.openDialog('laboratorioProyectos')">
        <mat-icon class="tile-icon">list</mat-icon>
      </button>
    </mat-grid-tile>
    <!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <mat-grid-tile colspan="1" rowspan="2" [ngStyle]="tileColorFirebase('salaComputo')">
      <div class="text-inside-grid">
        Sala de cómputo
      </div>
      <span class="availability">{{currentClass('salaComputo')?.className}}</span>
      <button mat-mini-fab color="primary" class="tile-button" (click)="dialogBox.openDialog('salaComputo')">
        <mat-icon class="tile-icon">list</mat-icon>
      </button>
    </mat-grid-tile>
    <!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <mat-grid-tile colspan="1" rowspan="2" [ngStyle]="tileColorFirebase('cnc')">
      <div class="text-inside-grid">
        Laboratorio de CNC
      </div>
      <span class="availability">{{currentClass('cnc')?.className}}</span>
      <button mat-mini-fab color="primary" class="tile-button" (click)="dialogBox.openDialog('cnc')">
        <mat-icon class="tile-icon">list</mat-icon>
      </button>
    </mat-grid-tile>

  </mat-grid-list>
  <!-- <button mat-raised-button color="accent" [routerLink]="['/completeSchedule']" class="completeScheduleButton">Horario completo</button>
  <button mat-raised-button color="accent" [routerLink]="['/professors']" class="cubicleButton">Cubículos</button> -->
  <app-chat *ngIf="this._authService.chatApproval | async"></app-chat>
</ng-container>


<!-- </ng-template> -->
<!-- </mat-grid-list> -->

<!-- <app-chat *ngIf="this._authService.chatApproval | async"></app-chat> -->











<ng-container *ngIf="isLoaded && mobile">
  
  <span [ngStyle]="{'font-size': '100%;', 'margin-left':'64%', 'position':'absolute', 'top':'12.5%'}">Aula disponible</span>
  <img src="assets\green.PNG" class="green">
  <span [ngStyle]="{'font-size': '10%;', 'margin-left':'64%', 'position':'absolute', 'top':'15%'}">Aula en clase</span>
  <img src="assets\red.PNG" class="red"> 

  <mat-grid-list cols="12" rowHeight="2:1" class="grid">

  

    <mat-grid-tile colspan="5" rowspan="5" [ngStyle]="tileColorFirebase('salaAudiovisual')">
      <!-- <div class="text-inside-grid"> -->
        Sala audiovisual (Planta alta)
      <!-- </div> -->
      <span class="availability">{{currentClass('salaAudiovisual')?.className}}</span>
      <button mat-mini-fab color="primary" class="tile-button" (click)="dialogBox.openDialog('salaAudiovisual')">
        <mat-icon class="tile-icon">list</mat-icon>
      </button>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="29"><span class="rotate">PASILLO</span></mat-grid-tile>

    <mat-grid-tile colspan="5" rowspan="5" [ngStyle]="tileColorFirebase('cnc')">
      <div class="text-inside-grid">
        Laboratorio de CNC
      </div>
      <span class="availability">{{currentClass('cnc')?.className}}</span>
      <button mat-mini-fab color="primary" class="tile-button" (click)="dialogBox.openDialog('cnc')">
        <mat-icon class="tile-icon">list</mat-icon>
      </button>
    </mat-grid-tile>
<!-- 
    <mat-grid-tile colspan="1" rowspan="1" [ngStyle]="tileColorFirebase('mecanicaFluidos')">
      <div class="text-inside-grid">
        Laboratorio de mecánica de fluidos
      </div>
      <span class="availability">{{currentClass('mecanicaFluidos')?.className}}</span>
      <button mat-mini-fab color="primary" class="tile-button" (click)="dialogBox.openDialog('mecanicaFluidos')">
        <mat-icon class="tile-icon">list</mat-icon>
      </button>
    </mat-grid-tile> -->

    <mat-grid-tile colspan="5" rowspan="5" [ngStyle]="tileColorFirebase('mecanicaFluidos')">
      <div class="text-inside-grid">
        Laboratorio de térmica y mecánica de fluidos
      </div>
      <span class="availability">{{currentClass('mecanicaFluidos')?.className}}</span>
      <button mat-mini-fab color="primary" class="tile-button" (click)="dialogBox.openDialog('mecanicaFluidos')">
        <mat-icon class="tile-icon">list</mat-icon>
      </button>
    </mat-grid-tile>

    
    <!-- <mat-grid-tile colspan="1" rowspan="1" >PASILLO</mat-grid-tile> -->
   

    <mat-grid-tile colspan="5" rowspan="5" [ngStyle]="tileColorFirebase('salaComputo')">
      <div class="text-inside-grid">
        Sala de cómputo
      </div>
      <span class="availability">{{currentClass('salaComputo')?.className}}</span>
      <button mat-mini-fab color="primary" class="tile-button" (click)="dialogBox.openDialog('salaComputo')">
        <mat-icon class="tile-icon">list</mat-icon>
      </button>
    </mat-grid-tile>

    <mat-grid-tile colspan="5" rowspan="5" [ngStyle]="tileColorFirebase('cienciasMateriales')">
      <div class="text-inside-grid">
        Laboratorio de ciencias de materiales
      </div>
      <span class="availability">{{currentClass('cienciasMateriales')?.className}}</span>
      <button mat-mini-fab color="primary" class="tile-button" (click)="dialogBox.openDialog('cienciasMateriales')">
        <mat-icon class="tile-icon">list</mat-icon>
      </button>
    </mat-grid-tile>

    <!-- <mat-grid-tile colspan="1" rowspan="1" >PASILLO</mat-grid-tile> -->

    <mat-grid-tile colspan="5" rowspan="5" [ngStyle]="tileColorFirebase('laboratorioProyectos')"> <!--CORREGIR-->
      <div class="text-inside-grid">
        Laboratorio de Proyectos
      </div>
      <span class="availability">{{currentClass('laboratorioProyectos')?.className}}</span>
      <button mat-mini-fab color="primary" class="tile-button" (click)="dialogBox.openDialog('laboratorioProyectos')">
        <mat-icon class="tile-icon">list</mat-icon>
      </button>
    </mat-grid-tile>

    <mat-grid-tile colspan="5" rowspan="5" [ngStyle]="tileColorFirebase('maquinasHerramientas')">
      <div class="text-inside-grid">
        Taller de máquinas y herramientas
      </div>
      <span class="availability">{{currentClass('maquinasHerramientas')?.className }}</span>
      <button mat-mini-fab color="primary" class="tile-button" (click)="dialogBox.openDialog('maquinasHerramientas')">
        <mat-icon class="tile-icon">list</mat-icon>
      </button>
    </mat-grid-tile>

    <!-- <mat-grid-tile colspan="1" rowspan="1" >PASILLO</mat-grid-tile> -->

    <mat-grid-tile colspan="5" rowspan="4" [ngStyle]="tileColorFirebase('salaAsesorias')">
      <div class="text-inside-grid">
        Metrología / Sala de asesorías
      </div>
      <span class="availability">{{currentClass('salaAsesorias')?.className}}</span>
      <button mat-mini-fab color="primary" class="tile-button-rowspan-4" (click)="dialogBox.openDialog('design')">
        <mat-icon class="tile-icon-rowspan-4">list</mat-icon>
      </button>
    </mat-grid-tile>

    <mat-grid-tile colspan="5" rowspan="5" [ngStyle]="tileColorFirebase('refrigeracion')">
      <div class="text-inside-grid">
        Laboratorio de refrigeración
      </div>
      <span class="availability">{{currentClass('refrigeracion')?.className}}</span>
      <button mat-mini-fab color="primary" class="tile-button" (click)="dialogBox.openDialog('refrigeracion')">
        <mat-icon class="tile-icon">list</mat-icon>
      </button>
    </mat-grid-tile>

    <mat-grid-tile colspan="5" rowspan="4" [ngStyle]="studyRoomColor()">
      <div *ngIf="spinnerLoading ; else studyLoaded">
        <mat-spinner [diameter]="50"></mat-spinner>
      </div>

        <ng-template #studyLoaded> <!--Por el momento no está activo por la pandemia-->
          <div class="text-inside-grid">
            No disponible por el momento
          </div>
          <div class="people-number">
            <!-- {{peopleNumber}} personas -->
          </div>
        </ng-template>

    </mat-grid-tile>


    <!-- <mat-grid-tile colspan="1" rowspan="1" >PASILLO</mat-grid-tile> -->





    <mat-grid-tile colspan="5" rowspan="5" [ngStyle]="tileColorFirebase('celdaManufactura')">
      <div class="text-inside-grid">
        Celda de manufactura / multiejes
      </div>
      <span class="availability">{{currentClass('celdaManufactura')?.className }}</span>
      <button mat-mini-fab color="primary" class="tile-button" (click)="dialogBox.openDialog('celdaManufactura')">
        <mat-icon class="tile-icon">list</mat-icon>
      </button>
    </mat-grid-tile>


    <!-- <mat-grid-tile colspan="1" rowspan="1" >PASILLO</mat-grid-tile> -->


    <mat-grid-tile colspan="5" rowspan="5" [ngStyle]="tileColorFirebase('mecanicaMateriales')">
      <div class="text-inside-grid">
        Laboratorio de mecánica de materiales
      </div>
      <span class="availability">{{currentClass('mecanicaMateriales')?.className}}</span>
      <button mat-mini-fab color="primary" class="tile-button" (click)="dialogBox.openDialog('mecanicaMateriales')">
        <mat-icon class="tile-icon">list</mat-icon>
      </button>
    </mat-grid-tile>


    <mat-grid-tile colspan="11" rowspan="4" [ngStyle]="tileColorFirebase('mantenimiento')">
      <div class="text-inside-grid">
        Mantenimiento
      </div>
      <span class="availability">{{currentClass('mantenimiento')?.className }}</span>
      <button mat-mini-fab color="primary" class="tile-button-long" (click)="dialogBox.openDialog('mantenimiento')">
        <mat-icon class="tile-icon">list</mat-icon>
      </button>
    </mat-grid-tile>
    
  </mat-grid-list>
  <!-- <button mat-raised-button color="accent" [routerLink]="['/completeSchedule']" class="completeScheduleButton">Horario completo</button>
  <button mat-raised-button color="accent" [routerLink]="['/professors']" class="cubicleButton">Cubículos</button> -->
  <app-chat *ngIf="this._authService.chatApproval | async"></app-chat>
</ng-container>