.entrance{
    font-size:15px;
    font-style: normal !important;
    margin-left: 95%;
    top: 38%;  
    position: relative;
    z-index: 100 !important;
}

.mat-card{
    background-color:lightgoldenrodyellow;
}

div{
    font-weight:bold;
    font-size: 1vw;
}

// span{
//     font-weight:bold;
// }

.teacher{
    font-style: oblique;
}

.text-inside-grid{
    font-weight:bold;
    position: absolute;
    margin-bottom: 90px;
    align-self: center;
}

.tile-button{
    position:absolute;
    display: list-item;
    bottom: 2%;
    right: 2%;
    width: 20%;
    height: 20%;
}

.tile-icon{
    bottom: 2%;
    margin-left: -50%;
    font-size: 1.8vw;
    width: 200%;
}

.tile-button-long{
    position:absolute;
    display: list-item;
    bottom: 2%;
    right: 2%;
    width: 20%;
    height: 8%;
}

.centered{
    left: 50%;
    margin-top: 10%;
    width: 24px; 
    height: 24px; 
    }

.people-number{
    font-size:500%;
}
// mat-grid-list {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
//     border: solid 1px #000;
//   }

.hourCard{
    height: 1px;
}

.textInCard{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(850%);
    transform: translateY(-50%);
}

.cubicleButton{
    flex: auto;
    align-self: center;
    width: 10%;
    height: 5%; //new = makes a taller button than previous version
    left:80%;
    top:92%;
    position: absolute;
    font-weight:bold;
}

.completeScheduleButton{
    flex: auto;
    align-self: center;
    width: 10%;
    height: 5%; //new = makes a taller button than previous version
    left:10%;
    top:92%;
    position: absolute;
    font-weight:bold;
}

mat-grid-tile {
    background:white;
    text-align: center;
    border: solid 1px white;
    // flex-wrap: wrap;

  }


  mat-grid-list{
      width: 99%;
      left: .5%;
      
  }



//   mat-grid-list, mat-grid-tile {
//     padding-bottom: 0 !important;
//     padding-top: 0 !important;
// }







@media screen and (max-width: 900px) {

    .entrance{
        font-size:15px;
        font-style: normal !important;
        margin-left: 43%;
        top: 1.5%;  
        position: relative
    }
    .mat-card{
        background-color:lightgoldenrodyellow;
    }
    
    div{
        font-weight:bold;
        font-size: 1vw;
    }
    
    // span{
    //     font-weight:bold;
    //     color: yellow;
    // }
    
    .teacher{
        font-style: oblique;
    }

  
    
    .text-inside-grid{
        font-weight:bold;
        position: absolute;
        margin-bottom: 90px;
        align-self: center;
        font-size: 100%;
        top: 3%;
        line-height: 100%;
    }

    .availability{
        // color: blue;
        font-style: normal;
        font-size: 100%;
        line-height: 80%;
        margin-top: 5%;
        text-align: center;
    }
    
    .tile-button{
        position:absolute;
        display: list-item;
        bottom: 1%;
        right: 1%;
        width: 15%;
        height: 30%;
    }
    
    .tile-icon{
        margin-top: -60% !important;
        margin-left: 0%;
        font-size: 150%;
        width: 100%;
    }

    .tile-icon-rowspan-4{
        margin-top: -60% !important;
        margin-left: 0%;
        font-size: 150%;
        width: 100%;
    }
    
    .tile-button-long{
        position:absolute;
        display: list-item;
        bottom: 2%;
        right: 2%;
        width: 7%;
        height: 40%;
    }

    .tile-button-rowspan-4{
        position:absolute;
        display: list-item;
        bottom: 1%;
        right: 1%;
        width: 15%;
        height: 37%;
    }

    // mat-spinner{
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     width: 15% !important;
    //     height: 15% !important;
    // }
    
    mat-spinner.centered{
        margin-left: -12%;
        margin-top: 60%;
        }

 

    
    .people-number{
        font-size:150%;
    }
    // mat-grid-list {
    //     display: flex;
    //     flex-wrap: wrap;
    //     justify-content: center;
    //     border: solid 1px #000;
    //   }
    
    .hourCard{
        height: -1%;
    }

    .grid{
        top:17.5%;
        position: absolute;
        width: 94.5%;
    }

    .green{
        position: absolute;
        width: 3%;
        left: 60%;
        top: 13%
      }
      
    .red{
        position: absolute;
        width: 3%;
        left: 60%;
        top: 15%
    }
      
    
    .textInCard{
        margin: 0;
        position: absolute;
        font-size: 100%;
        // top: 50%;
        // -ms-transform: translateY(850%);
        // transform: translateY(-50%);
    }
    
    .cubicleButton{
        flex: auto;
        align-self: center;
        width: 21%;
        height: 5%; //new = makes a taller button than previous version
        left:75%;
        top:94%;
        position: absolute;
        font-weight:bold;
    }
    
    .completeScheduleButton{
        flex: auto;
        align-self: center;
        width: 32%;
        height: 5%; //new = makes a taller button than previous version
        left:2%;
        top:94%;
        position: absolute;
        font-weight:bold;
    }
    
    mat-grid-tile {
        background:white;
        text-align: center;
        border: solid 1px white;
        
        // flex-wrap: wrap;
    
      }

      span.rotate{
        transform: rotate(-90deg);
        // border: solid 1px #000;
   
        position:absolute;
    }

    // .mobile-grid{
    //     width: 1000px;
    // }
    
    
      mat-grid-list{
          width: 99%;
          left: 5.5%;
          
      }
    
    
    //   mat-grid-list, mat-grid-tile {
    //     padding-bottom: 0 !important;
    //     padding-top: 0 !important;
    // }
    
}
