.mat-card{
    background-color:lightgoldenrodyellow;
}

div{
    font-weight:bold;
    font-size: 1vw;
}

span{
    font-weight:bold;
}

.teacher{
    font-style: oblique;
}

.text-inside-grid{
    font-weight:bold;
    position: absolute;
    margin-bottom: 90px;
    align-self: center;
}

.tile-button{
    position:absolute;
    display: list-item;
    bottom: 2%;
    right: 2%;
    width: 20%;
    height: 20%;
}

.tile-icon{
    bottom: 2%;
    margin-left: -50%;
    font-size: 1.8vw;
    width: 200%;
}

.tile-button-long{
    position:absolute;
    display: list-item;
    bottom: 2%;
    right: 2%;
    width: 20%;
    height: 8%;
}

.centered{
    left: 50%;
    margin-top: 10%;
    width: 24px; 
    height: 24px; 
    }

.people-number{
    font-size:500%;
}
// mat-grid-list {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
//     border: solid 1px #000;
//   }

.hourCard{
    height: 1px;
}

.textInCard{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(850%);
    transform: translateY(-50%);
}

.cubicleButton{
    flex: auto;
    align-self: center;
    width: 10%;
    height: 5%; //new = makes a taller button than previous version
    left:80%;
    top:92%;
    position: absolute;
    font-weight:bold;
}

.completeScheduleButton{
    flex: auto;
    align-self: center;
    width: 10%;
    height: 5%; //new = makes a taller button than previous version
    left:10%;
    top:92%;
    position: absolute;
    font-weight:bold;
}

mat-grid-tile {
    background:white;
    text-align: center;
    border: solid 1px #000;
    // flex-wrap: wrap;

  }


  mat-grid-list{
      width: 99%;
      left: .5%;
      
  }


//   mat-grid-list, mat-grid-tile {
//     padding-bottom: 0 !important;
//     padding-top: 0 !important;
// }