

<mat-card color="accent">Son las {{changeHourFormat()}} y las clases en los laboratorios son:</mat-card>

<ng-container *ngIf="!isLoaded ; else loaded">
  <mat-spinner color="primary" class="centered"></mat-spinner>
</ng-container>


<ng-template #loaded>
  <mat-grid-list cols="7" rowHeight="2:1">

    <mat-grid-tile colspan="1" rowspan="5" [ngStyle]="tileColorFirebase('mantenimiento')">
      <div class="text-inside-grid">
        Mantenimiento
      </div>
      {{currentClass('mantenimiento')?.className }}
      <button mat-mini-fab color="primary" class="tile-button-long" (click)="dialogBox.openDialog('mantenimiento')">
        <mat-icon class="tile-icon">list</mat-icon>
      </button>
    </mat-grid-tile>


    <mat-grid-tile colspan="1" rowspan="2" [ngStyle]="tileColorFirebase('celdaManufactura')">
      <div class="text-inside-grid">
        Celda de manufactura
      </div>
      {{currentClass('celdaManufactura')?.className }}
      <button mat-mini-fab color="primary" class="tile-button" (click)="dialogBox.openDialog('celdaManufactura')">
        <mat-icon class="tile-icon">list</mat-icon>
      </button>
    </mat-grid-tile>


    <mat-grid-tile colspan="1" rowspan="2" [ngStyle]="studyRoomColor()">
      <div *ngIf="spinnerLoading ; else studyLoaded">
        <mat-spinner></mat-spinner>
      </div>

        <ng-template #studyLoaded>
          <div class="text-inside-grid">
            Sala de estudio
          </div>
          <div class="people-number">
            {{peopleNumber}}
          </div>
        </ng-template>

    </mat-grid-tile>

<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
    <mat-grid-tile colspan="1" rowspan="2" [ngStyle]="tileColorFirebase('maquinasHerramientas')">
      <div class="text-inside-grid">
        Taller de máquinas y herramientas
      </div>
      {{currentClass('maquinasHerramientas')?.className }}
      <button mat-mini-fab color="primary" class="tile-button" (click)="dialogBox.openDialog('maquinasHerramientas')">
        <mat-icon class="tile-icon">list</mat-icon>
      </button>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="2" [ngStyle]="tileColorFirebase('cienciasMateriales')">
      <div class="text-inside-grid">
        Laboratorio de ciencia de materiales
      </div>
      {{currentClass('cienciasMateriales')?.className}}
      <button mat-mini-fab color="primary" class="tile-button" (click)="dialogBox.openDialog('cienciasMateriales')">
        <mat-icon>list</mat-icon>
      </button>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="2" [ngStyle]="tileColorFirebase('mecanicaFluidos')">
      <div class="text-inside-grid">
        Laboratorio de mecánica de fluidos
      </div>
      {{currentClass('mecanicaFluidos')?.className}}
      <button mat-mini-fab color="primary" class="tile-button" (click)="dialogBox.openDialog('mecanicaFluidos')">
        <mat-icon>list</mat-icon>
      </button>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="2" [ngStyle]="tileColorFirebase('salaAudiovisual')">
      <div class="text-inside-grid">
        Sala audiovisual
      </div>
      {{currentClass('salaAudiovisual')?.className}}
      <button mat-mini-fab color="primary" class="tile-button" (click)="dialogBox.openDialog('salaAudiovisual')">
        <mat-icon>list</mat-icon>
      </button>
    </mat-grid-tile>
    <!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->


    <mat-grid-tile colspan="6" rowspan="1" rowHeight=".5:1">PASILLO</mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="2" [ngStyle]="tileColorFirebase('mecanicaMateriales')">
      <div class="text-inside-grid">
        Mecánica de materiales
      </div>
      {{currentClass('mecanicaMateriales')?.className}}
      <button mat-mini-fab color="primary" class="tile-button" (click)="dialogBox.openDialog('mecanicaMateriales')">
        <mat-icon>list</mat-icon>
      </button>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="2" [ngStyle]="tileColorFirebase('refrigeracion')">
      <div class="text-inside-grid">
        Laboratorio de refrigeración
      </div>
      {{currentClass('refrigeracion')?.className}}
      <button mat-mini-fab color="primary" class="tile-button" (click)="dialogBox.openDialog('refrigeracion')">
        <mat-icon>list</mat-icon>
      </button>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="2" [ngStyle]="tileColorFirebase('salaAsesorias')">
      <div class="text-inside-grid">
        Sala de asesorías
      </div>
      {{currentClass('salaAsesorias')?.className}}
      <button mat-mini-fab color="primary" class="tile-button" (click)="dialogBox.openDialog('design')">
        <mat-icon>list</mat-icon>
      </button>
    </mat-grid-tile>


    <mat-grid-tile colspan="1" rowspan="2" [ngStyle]="tileColor('fluids')"> <!--CORREGIR-->
      <div class="text-inside-grid">
        Laboratorio de Proyectos
      </div>
      {{classStatus('fluids')}}
      <button mat-mini-fab color="primary" class="tile-button" (click)="dialogBox.openDialog('laboratorioProyectos')">
        <mat-icon>list</mat-icon>
      </button>
    </mat-grid-tile>
    <!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <mat-grid-tile colspan="1" rowspan="2" [ngStyle]="tileColorFirebase('salaComputo')">
      <div class="text-inside-grid">
        Sala de cómputo
      </div>
      {{currentClass('salaComputo')?.className}}
      <button mat-mini-fab color="primary" class="tile-button" (click)="dialogBox.openDialog('salaComputo')">
        <mat-icon>list</mat-icon>
      </button>
    </mat-grid-tile>
    <!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <mat-grid-tile colspan="1" rowspan="2" [ngStyle]="tileColor('thermo')">
      <div class="text-inside-grid">
        Laboratorio de CNC
      </div>
      {{classStatus('thermo')}}
      <button mat-mini-fab color="primary" class="tile-button" (click)="dialogBox.openDialog('cnc')">
        <mat-icon>list</mat-icon>
      </button>
    </mat-grid-tile>
    
  </mat-grid-list>
  <button mat-raised-button color="accent" [routerLink]="['/completeSchedule']" class="completeScheduleButton">Horario completo</button>
  <button mat-raised-button color="accent" [routerLink]="['/professors']" class="cubicleButton">Cubículos</button>
  <app-chat *ngIf="this._authService.chatApproval | async"></app-chat>
</ng-template>

<!-- </ng-template> -->
<!-- </mat-grid-list> -->

<!-- <app-chat *ngIf="this._authService.chatApproval | async"></app-chat> -->